<div class="table-container">
    <h1>Teacher: {{username}}</h1>
    <table class="table table-hover table-bordered caption-top">
        <caption>Your courses</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Schedule</th>
                <th scope="col">Description</th>
                <th scope="col">Load Students</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.name }}</td>
                <td>{{ course.levelName }}</td>
                <td>{{ course.schedule }}</td>
                <td>{{ course.description }}</td>
                <td><button (click)="SelectCourse(course.id)" class="btn btn-outline-success">Students</button></td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="students.length > 0">
        <h4>Students registered for this course :</h4>
        <ul class="list-group list-group-flush">
            <li *ngFor="let student of students" class="list-group-item">
                {{ student.username }}
            </li>
        </ul>
    </div>
    </div>
