<div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>Rajout - Update cours</h1>
        <form [formGroup]="formCourse" (ngSubmit)="save(formCourse)">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder=>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Level</label>
              <select formControlName="levelName" class="form-control" id="exampleFormControlSelect1">
                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Confirmed</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Schedule</label>
              <select formControlName="schedule" class="form-control" id="exampleFormControlSelect2">
                <option>Day</option>
                <option>Evening</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Teacher</label>
              <select formControlName="userId" class="form-control" id="exampleFormControlTextarea1">
                <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea2">Description</label>
              <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>         
              <button type="submit"[disabled]="formCourse.invalid" class="btn btn-outline-primary">Save</button>
              <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>         
          </form>
    </div>
    <div class="col"></div>
  </div>
