.table-container {
    margin: 0 5%;
  }

  h1, h2{
    color:green;
    margin-bottom: 2%;
  }

  .btn.btn-outline-success {
    display: inline-block;
    width: 100%;
}

.list-group, .list-group-flush{
    width: 15%;
}