.navbar-brand, .nav-link, .nav-link.active, .dropdown-item{
    
    color:#e7ffff;
    }

.dropdown-menu{
    background-color:rgb(89, 184, 187);
}

.dropdown-item:hover{
  color: blue;
}

.nav-link:hover{
    color: blue;
  }
  .container-fluid{
    margin-left: 2%;
    margin-right: 5%
  }