
    <div class="table-container">
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <table class="table table-hover table-bordered caption-top">
            <caption>Liste des étudiants</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Level of student</th>
                    <th scope="col">Edit Student</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{ student.username }}</td>
                    <td>{{ student.gradeName }}</td>
                    <td><button type="button" class="btn btn-outline-warning"style="width: 100%;"(click)="edit(student.id)">Edit</button></td>      
                </tr>
            </tbody>
        </table>
    </div>

