<div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>Update student</h1>
      <p></p>
        <form [formGroup]="formUser" (ngSubmit)="save(formUser)">
            <div class="form-group">
              <label for="exampleFormControlInput1">Username</label>
              <input type="text" formControlName="username" class="form-control" id="exampleFormControlInput1"placeholder="" readonly>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Grade</label>
              <select formControlName="gradeId" class="form-control" id="exampleFormControlTextarea1">
                <option *ngFor="let grade of grades" [value]="grade.id">{{grade.gradeName}}</option>
              </select>
            </div>      
              <button type="submit" class="btn btn-outline-success">Save grade</button>
              <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
              <p></p>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-outline-primary" style="width: 100%;" (click)="unroll()">Unroll courses</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-outline-primary" style="width: 100%;" (click)="return()">Back</button>
                </div>
              </div>
          </form>
    </div>
    <div class="col"></div>
  </div>
