.btn.btn-outline-primary {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
}

h1{
    color:green;
    margin-bottom: 5%;
}

.success-message {
    color:green;
    font-weight: bold;
  }