<div class="table-container">
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <table class="table table-hover table-bordered caption-top">
        <caption>List of available courses</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Schedule</th>
                <th scope="col">Teacher</th>
                <th scope="col">Description</th>
                <th scope="col">Edit Course</th>
                <th scope="col">Delete Course</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.name }}</td>
                <td>{{ course.levelName }}</td>
                <td>{{ course.schedule }}</td>
                <td>{{ course.username }}</td>
                <td>{{ course.description }}</td>
                <td><button type="button" class="btn btn-outline-warning"style="width: 100%;"(click)="edit(course.id)">Edition</button></td>
                <td><button type="button" class="btn btn-outline-danger" style="width: 100%;"(click)="del(course.id)">Delete</button></td>       
            </tr>
        </tbody>
    </table>
</div>
